<!DOCTYPE html>
<html>
  <head>
  	<% include include/head %>
    <link href="/dist/css/select2.min.css" rel="stylesheet" />
    <script src="/dist/js/select2.min.js"></script>
  </head>

  <body class="hold-transition skin-blue fixed sidebar-mini" onload="videoDetailsForm.reset();">
  	
  	<% include include/sidebar %>
    
  	<div style="min-height: 646px;" class="content-wrapper">
      <form class="form-horizontal" id="videoDetailsForm" action='/videos/add' method='POST'>
        <div class="box-body">
          <div class="form-group">
            <label for="inputType" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-6">
              <select aria-hidden="true" tabindex="-1" class="form-control select2 select2-hidden-accessible" style="width: 20%;" id="video-type" autocomplete="off" name="type" required>
                <option value=''>Select Type</option>
              <%
                dropdown.forEach(function(item){
                  if( !(item.table.localeCompare("types"))){
              %>    
                    <option value='<%= item.id %>' <%= (video.type === item.id)? "selected": "" %> ><%=item.name%></option>
              <%
                  }
                })
              %>
              </select>
            </div>
          </div>
          <div class="form-group" id="main-video-titles">
            <label for="inputMainVideoTitle" class="col-sm-2 control-label">Main Video Title</label>
            <div class="col-sm-8">
              <select aria-hidden="true" tabindex="-1" class="form-control select2 main-video-title select2-hidden-accessible" multiple="" data-placeholder="Select the main video title" style="width: 100%;" autocomplete="off" name="mainVideoTitle" >
                <%
                  dropdown.forEach(function(item){
                    if( !(item.table.localeCompare("videos"))){
                %>    
                
                      <option value='<%= item.id %>'><%=item.name%></option>
                <%
                    }
                  })
                %>
              </select>
            </div>
          </div>        
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-8 ">
              <input class="form-control curve-edge" id="inputTitle" placeholder="Title" type="text" autocomplete="off" name="title" value="<%= video.title %>" >
            </div>
          </div>
          <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-8">
              <textarea class="form-control curve-edge" id="inputDescription" placeholder="Description" rows="3" autocomplete="off" name="description" ><%= video.description %></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTeam" class="col-sm-2 control-label">Team</label>
            <div class="col-sm-8">
              <select aria-hidden="true" tabindex="-1" class="form-control select2 select2-hidden-accessible" style="width: 20%;" id="teams" autocomplete="off" name="team" required>
                <option value=''>Select Team</option>
                <%
                  dropdown.forEach(function(item){
                    if( !(item.table.localeCompare("teams"))){
                %>    
                      <option value='<%= item.id %>' <%= (team.id === item.id)? "selected": "" %> ><%=item.name%></option>
                <%
                    }
                  })
                %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputArtists" class="col-sm-2 control-label">Artists</label>
            <div class="col-sm-8">
              <select aria-hidden="true" tabindex="-1" class="form-control select2 artists select2-hidden-accessible" multiple="" data-placeholder="Separate artists by commas" style="width: 100%;" autocomplete="off" name="artists">
                <%
                  dropdown.forEach(function(item){
                    if( !(item.table.localeCompare("artists"))){
                      var flag = false;
                      artists.forEach(function(artist){
                        if(artist.id === item.id)
                          flag = true;
                      });
                %>    
                      <option value='<%= item.id %>' <%= (flag)? 'selected="selected"': "" %>><%=item.name%></option>
                <%
                    }
                  })
                %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputGenres" class="col-sm-2 control-label">Genres</label>
            <div class="col-sm-8">
              <select aria-hidden="true" tabindex="-1" class="form-control select2 genres select2-hidden-accessible" multiple="" data-placeholder="Select genres" style="width: 100%;" autocomplete="off" name="genres">
                <%
                  dropdown.forEach(function(item){
                    if( !(item.table.localeCompare("genres"))){
                      var flag = false;
                      genres.forEach(function(genre){
                        if(genre.id === item.id)
                          flag = true;
                      });
                %>    
                      <option value='<%= item.id %>' <%= (flag)? 'selected="selected"': "" %>><%=item.name%></option>
                <%
                    }
                  })
                %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputYoutubeEmbedding" class="col-sm-2 control-label">Youtube Embedding </label>
            <div class="checkbox" >
              <label>
                <input type="checkbox" name="youtubeCheckbox" id="youtubeCheckbox" autocomplete="off" name="youtubeEmbedding" <%= (!(video.youtube_link == null))? "checked": "" %>> 
              </label>
            </div>
          </div>
          <div class="form-group youtubeEmbedding" >
            <label for="inputYoutubeURL" class="col-sm-2 control-label">Youtube URL</label>
            <div class="col-sm-8">
              <input class="form-control curve-edge" id="inputYoutubeURL" placeholder="Youtube URL" type="text" autocomplete="off" name="youtubeUrl">
            </div>
          </div>
          <div class="form-group">
            <label for="inputSeries" class="col-sm-2 control-label">Part of Series</label>
            <div class="checkbox" >
              <label>
                <input type="checkbox" name="seriesCheckbox" id="seriesCheckbox" autocomplete="off" name="partOfSeries" <%= (series.hasOwnProperty('id') && !isNaN(series.id))? "checked": "" %>> 
              </label>
            </div>
          </div>
          <div class="form-group partOfSeries">
            <label for="inputSeriesTitle" class="col-sm-2 control-label">Series Title </label>
            <div class="col-sm-8">
              <select aria-hidden="true" tabindex="-1" class="form-control select2 main-video-title select2-hidden-accessible" multiple="" data-placeholder="Select the series title" style="width: 100%;" autocomplete="off" name="seriesId" >
                <%
                  dropdown.forEach(function(item){
                    if( !(item.table.localeCompare("series"))){
                %>    
                      <option value='<%= item.id %>'><%=item.name%></option>
                <%
                    }
                  })
                %>
              </select>
            </div>
          </div>
          <div class="form-group partOfSeries">
            <label for="inputSeriesSeason" class="col-sm-2 control-label">Season</label>
            <div class="col-sm-8">
              <input class="form-control curve-edge" id="inputSeriesSeason" type="number" min="1" style="width:10%" autocomplete="off" name="seriesSeason">
            </div>
          </div>
          <div class="form-group partOfSeries">
            <label for="inputSeriesEpisode" class="col-sm-2 control-label">Episode</label>
            <div class="col-sm-8">
              <input class="form-control curve-edge" id="inputSeriesEpisode" type="number" min="1" style="width:10%" autocomplete="off" name="seriesEpisode">
            </div>
          </div>  
          <div class="form-group">
            <label for="inputImdbURL" class="col-sm-2 control-label">IMDB URL</label>
            <div class="col-sm-8">
              <input class="form-control curve-edge" id="inputImdbURL" placeholder="Imdb URL" type="text" autocomplete="off" name="imdbUrl" value="<%= video.imdb_link %>">
            </div>
          </div>
          <div class="form-group">
            <label for="inputRottenTomatoesURL" class="col-sm-2 control-label">Rotten Tomatoes URL</label>
            <div class="col-sm-8 ">
              <input class="form-control curve-edge" id="inputRottenTomatoesURL" placeholder="Rotten Tomatoes URL" type="text" autocomplete="off" name="rottenTomatoesUrl"  value="<%= video.rotten_tomatoes_link %>">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAgeRestriction" class="col-sm-2 control-label">Age Restriction</label>
            <div class="col-sm-1">
              <select aria-hidden="true" tabindex="-1" class="form-control select2 select2-hidden-accessible" style="width:100%" autocomplete="off" name="ageRestriction">
                <% for(var i = 13; i < 19; i++) { %>
                  <option value='<%= i %>' <%= (video.age_restriction === i)? "selected": "" %>><%= i %>+</option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTags" class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-8">
              <select aria-hidden="true" tabindex="-1" class="form-control select2 tags select2-hidden-accessible" multiple="" data-placeholder="Separate tags by commas" style="width: 100%;" autocomplete="off" name="tags">
                <%
                  dropdown.forEach(function(item){
                    if( !(item.table.localeCompare("tags"))){
                      var flag = false;
                      tags.forEach(function(tag){
                        if(tag.id === item.id)
                          flag = true;
                      });
                %>    
                      <option value='<%= item.id %>' <%= (flag)? 'selected="selected"': ""%>><%=item.name%></option>
                <%
                    }
                  })
                %>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputSocialMediaTags" class="col-sm-2 control-label">Social Media Tags</label>
            <div class="col-sm-8">
              <select aria-hidden="true" tabindex="-1" class="form-control select2 tags select2-hidden-accessible" multiple="" data-placeholder="Separate the social media tags by commas" style="width: 100%;" autocomplete="off" name="socialMediaTags">
                <%
                  dropdown.forEach(function(item){

                    if( !(item.table.localeCompare("social_media_tags"))){
                      var flag = false;
                      socialMediaTags.forEach(function(tag){
                        if(tag.id === item.id)
                          flag = true;
                      });
                %>    
                      <option value='<%= item.id %>' <%= (flag)? 'selected="selected"': "" %>><%=item.name%></option>
                <%
                    }
                  })
                %>
              </select>
            </div>
          </div>

        </div><!-- /.box-body -->
        <div class="box-footer">
          <button type="button" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-info pull-right">Save Video Details</button>
        </div><!-- /.box-footer -->
      </form>
    </div>
  	
  	<% include include/footer %>
    <% include include/script %>
    <script type="text/javascript">
      $('.select2').select2();

      $('.tags').select2({
        tags: true,
        tokenSeparators: [',']
      });

      $('.artists').select2({
        tags: true,
        tokenSeparators: [',']
      });

      $('.main-video-title').select2({
        maximumSelectionLength: 1
      });

      // Show/Hide main video title input according to video type entered
      $("#main-video-titles").hide();
      $("#video-type").change( function () {
        var x = parseInt(document.getElementById("video-type").options.selectedIndex);
        if(x === 1 || x === 0){
          $("#main-video-titles").hide();
          // document.getElementById("#main-video-titles").selectedIndex = 0;
        }
        else{
          $("#main-video-titles").show(); 
        }
      });

      // Show/Hide series form part
      $(".partOfSeries").hide();
      $('#seriesCheckbox').on('ifChecked',function () {
          $(".partOfSeries").show();
      });
      $('#seriesCheckbox').on('ifUnchecked',function () { 
          $(".partOfSeries").hide();
      });

      $('#seriesCheckbox').is('ifChecked',function () {
          $(".partOfSeries").show();
      });
      $('#seriesCheckbox').is('ifUnchecked',function () { 
          $(".partOfSeries").hide();
      });

      // Show/Hide youtube embedding form part
      $(".youtubeEmbedding").hide();
      $('#youtubeCheckbox').on('ifChecked',function () {
          $(".youtubeEmbedding").show();
      });
      $('#youtubeCheckbox').on('ifUnchecked',function () { 
          $(".youtubeEmbedding").hide();
      });

      $('#youtubeCheckbox').is('ifChecked',function () {
          $(".youtubeEmbedding").show();
      });
      $('#youtubeCheckbox').is('ifUnchecked',function () { 
          $(".youtubeEmbedding").hide();
      });

      //Checkbox customization
      $(document).ready(function(){
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue'
          
        });
      });
     
      
    </script>
  </body>
</html>