<!DOCTYPE html>
<html>
  <head>
    <% include include/head %>
    
  </head>

  <body class="hold-transition skin-blue fixed sidebar-mini">
    
    <% include include/sidebar %>

    <div style="min-height: 646px;" class="content-wrapper">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Videos</h3>
            <div class="box-tools">
              <div class="input-group" style="width: 150px;">
                <input name="table_search" class="form-control input-sm pull-right" placeholder="Search" type="text">
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody><tr>
                <th>Sl. No</th>
                <th>Title</th>
                <th>Type</th>
                <th>Uploaded</th>
                <th>Published</th>
              </tr>

              <%
                var i = 1;
                
                videos.forEach(function(video){ %>
                  
                  <tr>
                    <td><%= i++ %></td>
                    <td><%= video.title %></td>
                    <%
                      var currentType = '';
                      types.forEach(function(type){
                            if(type.id === video.type){
                              currentType = type.name;
                            }
                        });
                    %>
                    <td><%= currentType %></td>
                    <% if(video.uploaded === 1){ %>
                      <td><span class="label label-success">Yes</span></td>
                    <% } else{ %>
                      <td><span class="label label-danger">No</span></td>
                    <% } %>
                    <% if(video.status === 1){ %>
                      <td><span class="label label-success">Yes</span></td>
                    <% } else{ %>
                      <td><span class="label label-danger">No</span></td>
                    <% } %>
                    <td><a href="/video/view/<%= video.id %>"><button class="btn btn-xs btn-warning" data-toggle="modal">View</button></a></td>
                    <td><a href="/video/edit/<%= video.id %>"><button class="btn btn-xs btn-primary" data-toggle="modal">Edit</button></a></td>
                    <td><a href="/video/delete/<%= video.id %>"><button class="btn btn-xs btn-danger" data-toggle="modal">Delete</button></a></td>
                  </tr>
                      <%
                });
              %>
            </tbody></table>
            <div class="row">
              <div class="col-sm-5">
                <div aria-live="polite" role="status" id="example2_info" class="dataTables_info">Showing 1 to 10 of 57 entries</div>
              </div>
              <div class="col-sm-7">
                <div id="example2_paginate" class="dataTables_paginate paging_simple_numbers">
                  <ul class="pagination">
                    <li id="example2_previous" class="paginate_button previous disabled">
                      <a tabindex="0" data-dt-idx="0" aria-controls="example2" href="#">Previous</a>
                    </li>
                    <li class="paginate_button active">
                      <a tabindex="0" data-dt-idx="1" aria-controls="example2" href="#">1</a>
                    </li>
                    <li class="paginate_button ">
                      <a tabindex="0" data-dt-idx="2" aria-controls="example2" href="#">2</a>
                    </li>
                    <li class="paginate_button ">
                      <a tabindex="0" data-dt-idx="3" aria-controls="example2" href="#">3</a>
                    </li>
                    <li class="paginate_button ">
                      <a tabindex="0" data-dt-idx="4" aria-controls="example2" href="#">4</a>
                    </li>
                    <li class="paginate_button ">
                      <a tabindex="0" data-dt-idx="5" aria-controls="example2" href="#">5</a>
                    </li>
                    <li class="paginate_button ">
                      <a tabindex="0" data-dt-idx="6" aria-controls="example2" href="#">6</a>
                    </li>
                    <li id="example2_next" class="paginate_button next">
                      <a tabindex="0" data-dt-idx="7" aria-controls="example2" href="#">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div>
    </div>
    
    <% include include/footer %>
    <% include include/script %>
  </body>
</html>



            